exportPattern("^[[:alpha:]]+")
import(dplyr)
import(ggplot2)
import(gplots)
export(allPrototypeDistances)
export(assignTypes)
export(countSNPs)
export(getPrototypeSeqs)
export(overallMeanDistance)
export(pairwiseDistances)
export(plotFrequency)
export(plotPrototypeDistances)
export(plotTree)
export(readFasta)
export(SNPeek)
